---
name: pravega

releases:
- name: pravega
  version: latest

stemcells:
- alias: default
  os: ubuntu-trusty
  version: latest

update:
  canaries: 2
  max_in_flight: 1
  canary_watch_time: 5000-60000
  update_watch_time: 5000-60000

instance_groups:

- name: namenode
  azs: [az1]
  instances: 1
  jobs:
  - name: namenode
    release: pravega
    properties: {}
  vm_type: 2xlarge
  stemcell: default
  #persistent_disk: 10240
  #persistent_disk: 40960
  persistent_disk_type: local_storage
  networks:
  - name: pks-infrastructure

- name: pravega
  azs: [az1]
  instances: 3
  jobs:
  - name: zookeeper
    release: pravega
    properties: {}
  - name: datanode
    release: pravega
    properties: {}
  - name: bookkeeper
    release: pravega
    properties: {}
  - name: pravega-controller
    release: pravega
    properties:
      container_count: 10
  - name: pravega-segmentstore
    release: pravega
    properties:
      container_count: 10
      bk_ledger_path: /ledgers
  vm_type: 2xlarge
  stemcell: default
  persistent_disk_type: local_storage
  #persistent_disk: 10240
  #persistent_disk: 40960
  networks:
  - name: pks-infrastructure
